<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Elastic frame_Title box_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,922},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Elastic frame_texture frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,468},{160,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{160,162}</string>
            </dict>
            <key>Elastic frame_texture frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>Elastic frame_texture frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{769,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{769,393}}</string>
                <key>sourceSize</key>
                <string>{769,393}</string>
            </dict>
            <key>Elastic frame_texture frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,645},{127,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,275}}</string>
                <key>sourceSize</key>
                <string>{127,275}</string>
            </dict>
            <key>Elastic frame_texture frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{252,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,5}}</string>
                <key>sourceSize</key>
                <string>{252,5}</string>
            </dict>
            <key>Elastic frame_texture frame_Small4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{69,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,443}}</string>
                <key>sourceSize</key>
                <string>{69,443}</string>
            </dict>
            <key>Elastic frame_texture frame_large2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,397},{257,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,556}}</string>
                <key>sourceSize</key>
                <string>{257,556}</string>
            </dict>
            <key>Elastic frame_texture frame_largel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,384},{216,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,259}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>Elastic frame_texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{478,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,343}}</string>
                <key>sourceSize</key>
                <string>{478,343}</string>
            </dict>
            <key>Elastic frame_texture_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{380,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,207}}</string>
                <key>sourceSize</key>
                <string>{380,207}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,922},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>title_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,955},{387,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,67}}</string>
                <key>sourceSize</key>
                <string>{387,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06a6a7aff1cc728472057c922fb48cd$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
