<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Already read.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,467},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>Unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,393},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,487},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,487},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,80},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,467},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>icon_AITE.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,235},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>icon_QQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>icon_czjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,311},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>icon_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,311},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>icon_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,159},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,437},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,437},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>neiye_icon_VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,147},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_WX.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,159},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_YL.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_ZFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_qianbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_sAIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,356},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>neiye_icon_sWX.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,430},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>neiye_icon_sYL.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,356},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>neiye_icon_sZFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,393},{37,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>neiye_icon_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>neiye_icon_xiaoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>neiye_icon_yzf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8be6582b15be4d84a2250fb9f9e603c$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
