<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dividing line.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,29},{14,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,1}}</string>
                <key>sourceSize</key>
                <string>{14,1}</string>
            </dict>
            <key>Head frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,531},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>Head frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>Head frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,852},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>Input box.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,325},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>bgb_1280_diban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,369},{31,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,586}}</string>
                <key>sourceSize</key>
                <string>{31,586}</string>
            </dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,183},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>control_circular.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,369},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>control_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,60},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>control_shut.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{146,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>fengexian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,195},{131,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,8}}</string>
                <key>sourceSize</key>
                <string>{131,8}</string>
            </dict>
            <key>gnx_gw.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,202},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>gnx_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,451},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>gnxwz_gw.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,183},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>gnxwz_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,218},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>icon_daojudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{50,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>icon_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,557},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,507},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>neiye_neibanM_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{652,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,21}}</string>
                <key>sourceSize</key>
                <string>{652,21}</string>
            </dict>
            <key>neiye_neibanS_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,25}}</string>
                <key>sourceSize</key>
                <string>{456,25}</string>
            </dict>
            <key>neiye_xiaoliebiao_lbfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{302,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,51}}</string>
                <key>sourceSize</key>
                <string>{302,51}</string>
            </dict>
            <key>qieye_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{226,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,87}}</string>
                <key>sourceSize</key>
                <string>{226,87}</string>
            </dict>
            <key>qieye_button_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,295},{210,83}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{210,83}}</string>
                <key>sourceSize</key>
                <string>{226,87}</string>
            </dict>
            <key>tishi_jiazai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,607},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>tishi_jiazai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,113},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>touming_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,250},{600,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,48}}</string>
                <key>sourceSize</key>
                <string>{602,48}</string>
            </dict>
            <key>yj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{451,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,29}}</string>
                <key>sourceSize</key>
                <string>{451,29}</string>
            </dict>
            <key>zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,150},{217,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,202}}</string>
                <key>sourceSize</key>
                <string>{217,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uicommon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85a8007b7768760dff7f6cee98d91fb$</string>
            <key>textureFileName</key>
            <string>uicommon.png</string>
        </dict>
    </dict>
</plist>
