<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21dian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>bcbm_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>bjl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>brnn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>by_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,599},{252,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,201}}</string>
                <key>sourceSize</key>
                <string>{252,201}</string>
            </dict>
            <key>cqby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>ddz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>dfdc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>ermj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>ernn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>fkcsz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>hbjl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>hbnn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>hbsl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>hhdz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>hlzz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>lhc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>lhd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>qznn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>tb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>tbnn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>ttz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>wrzjh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>wxhh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,201},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>zjh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,400},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tex_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a279313d190ce11f61f345d136c992$</string>
            <key>textureFileName</key>
            <string>eff_tex_01.png</string>
        </dict>
    </dict>
</plist>
