<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,596},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,486},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,484},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,374},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,372},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,262},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,260},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,150},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>anniu01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,38},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>diandian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,38},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>diandian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,38},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>diandian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,250},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>diandian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,195},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>diandian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,140},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>diandian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,85},{53,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,9}}</string>
                <key>sourceSize</key>
                <string>{53,9}</string>
            </dict>
            <key>guangci_0015_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{235,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,129}}</string>
                <key>sourceSize</key>
                <string>{235,129}</string>
            </dict>
            <key>guanghuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gxhd_jinbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{81,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,65}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>gxhd_jinbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,305},{121,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,94}}</string>
                <key>sourceSize</key>
                <string>{121,94}</string>
            </dict>
            <key>jiancezhuangtai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,598},{211,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,209}}</string>
                <key>sourceSize</key>
                <string>{211,209}</string>
            </dict>
            <key>mail_t_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,398}}</string>
                <key>sourceSize</key>
                <string>{400,398}</string>
            </dict>
            <key>paihangbangwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,962},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,809},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,756},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,697},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,638},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,579},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,520},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,461},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>paihangbangwz_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,402},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>quanmingtuiguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,809},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,815},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,815},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,815},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,809},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,676},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,428},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>quanmingtuiguang01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,85},{195,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,57}}</string>
                <key>sourceSize</key>
                <string>{195,57}</string>
            </dict>
            <key>tixianwz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,809},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,676},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,883},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,617},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,684},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>tixianwz_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,625},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>yinhangwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,743},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,802},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,907},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,802},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,743},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,914},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>yinhangwenzi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,809},{103,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,57}}</string>
                <key>sourceSize</key>
                <string>{103,57}</string>
            </dict>
            <key>zfztwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{284,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,34}}</string>
                <key>sourceSize</key>
                <string>{284,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tex_04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81c60f73a98c155d68643bd36d0576dd$</string>
            <key>textureFileName</key>
            <string>eff_tex_04.png</string>
        </dict>
    </dict>
</plist>
