<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjb_xiaoyuandian01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,726},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,680},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,634},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,588},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,542},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,858},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hjb_xiaoyuandian01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,496},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>huobao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,816},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,734},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,652},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,570},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,940},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,898},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>huobao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,816},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>loading_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,410},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,292},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>loading_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>tb_baoxiao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,936},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,936},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,898},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,816},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,734},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,652},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,734},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,816},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,898},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_baoxiao_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,936},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,372},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,290},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,570},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tb_jinbi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tuijian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,734},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,652},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,570},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,980},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,980},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,936},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>tuijian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,454},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,528},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,528},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,528},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,528},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,248},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,248},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>zuixin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,248},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tex_06.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087e5cce1dabd9c35252e2041263b794$</string>
            <key>textureFileName</key>
            <string>eff_tex_06.png</string>
        </dict>
    </dict>
</plist>
