<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{111,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,166}}</string>
                <key>sourceSize</key>
                <string>{111,166}</string>
            </dict>
            <key>baoxiang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,706},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,474},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,752},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,518},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,156},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,753},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,519},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,156},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>baoxiang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>gongxihuodei_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,152}}</string>
                <key>sourceSize</key>
                <string>{800,152}</string>
            </dict>
            <key>gongxihuodei_lihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{401,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,154}}</string>
                <key>sourceSize</key>
                <string>{401,154}</string>
            </dict>
            <key>gongxihuodei_tuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{438,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,205}}</string>
                <key>sourceSize</key>
                <string>{438,205}</string>
            </dict>
            <key>gongxihuodei_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,388},{276,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,84}}</string>
                <key>sourceSize</key>
                <string>{276,84}</string>
            </dict>
            <key>jinbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>xian002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,388},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tex_03.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95b7a52863056d3616ff34b346bc1ac$</string>
            <key>textureFileName</key>
            <string>eff_tex_03.png</string>
        </dict>
    </dict>
</plist>
