<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_shouji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,196},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,196},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,99},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,99},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,99},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_shouji_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>dl_weixin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,478},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,410},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,410},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,407},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,387},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,841},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,841},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,841},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,630},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,427},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,384},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,293},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,290},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,216},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,196},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_weixin_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,196},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>dl_youke_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,748},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,660},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,745},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,657},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,572},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,621},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,621},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,618},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,569},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,481},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,935},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,935},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,423},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,216},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,935},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>dl_youke_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_tex_05.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a45d485c42cfa33de0e5503476e35dc$</string>
            <key>textureFileName</key>
            <string>eff_tex_05.png</string>
        </dict>
    </dict>
</plist>
