<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zyx_bfgy.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1152},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_bjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_bmbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_brnn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_bydz.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,922},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,922},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_ernn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_hbsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,692},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_hhdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,692},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_hlzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_lhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,462},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_qznn.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,462},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_sgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_tbnn.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,232},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_toubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,232},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_ttz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_wrzjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_xlche.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
            <key>zyx_zjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,228}}</string>
                <key>sourceSize</key>
                <string>{275,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameicon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b95702afb380cd0be096d1cfd0278c4$</string>
            <key>textureFileName</key>
            <string>gameicon.png</string>
        </dict>
    </dict>
</plist>
