<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shopping.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,106},{220,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{220,66}}</string>
                <key>sourceSize</key>
                <string>{222,66}</string>
            </dict>
            <key>an_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,482},{232,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,88}}</string>
                <key>sourceSize</key>
                <string>{232,88}</string>
            </dict>
            <key>an_py.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,392},{232,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,88}}</string>
                <key>sourceSize</key>
                <string>{232,88}</string>
            </dict>
            <key>bjl_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,392},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>bjl_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,445},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>caifuzixun.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,624},{87,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{87,58}}</string>
                <key>sourceSize</key>
                <string>{89,62}</string>
            </dict>
            <key>diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,485},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>dilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{359,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,68}}</string>
                <key>sourceSize</key>
                <string>{359,68}</string>
            </dict>
            <key>dilanicon_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,693},{49,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{49,72}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dilanicon_kf.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,677},{49,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{49,72}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dilanicon_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,684},{59,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{59,70}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dilanicon_txian.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,270},{53,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{53,74}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dilanicon_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,270},{61,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{61,74}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dilanicon_yhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,294},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>dinglan_er.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{612,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,91}}</string>
                <key>sourceSize</key>
                <string>{612,91}</string>
            </dict>
            <key>dinglan_gung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{289,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,3}}</string>
                <key>sourceSize</key>
                <string>{289,3}</string>
            </dict>
            <key>dinglan_yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,102}}</string>
                <key>sourceSize</key>
                <string>{427,102}</string>
            </dict>
            <key>fuz.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,513},{162,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,37}}</string>
                <key>sourceSize</key>
                <string>{162,37}</string>
            </dict>
            <key>ggao_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,176},{167,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{167,9}}</string>
                <key>sourceSize</key>
                <string>{173,9}</string>
            </dict>
            <key>guangao_qieyexuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,295},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>guangao_qieyezc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{16,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>hd_cjkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,176},{92,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,68}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>hd_dlzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,176},{92,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>hd_hdgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,572},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>hd_tgzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,572},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>hongdain.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,270},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,513},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>icon_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,275},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>icon_all1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,270},{54,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>icon_chongzzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,176},{107,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>icon_duizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,730},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>icon_duizhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,275},{47,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>icon_duoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,709},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>icon_duoren1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,781},{47,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>icon_jieji.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{49,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>icon_jieji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,644},{47,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,53},{77,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,122}}</string>
                <key>sourceSize</key>
                <string>{77,122}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,294},{40,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,1}}</string>
                <key>sourceSize</key>
                <string>{40,1}</string>
            </dict>
            <key>mianju_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>mianju_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{56,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>tishi_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,645},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>tishi_qidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,435},{142,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,36}}</string>
                <key>sourceSize</key>
                <string>{142,36}</string>
            </dict>
            <key>tishi_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,328},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>tishi_tyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,572},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>tishi_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,326},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>tuiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,177},{115,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,77}}</string>
                <key>sourceSize</key>
                <string>{115,77}</string>
            </dict>
            <key>tuiguangf.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,473},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>txk_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,744},{64,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>txk_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,351},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>x_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,644},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xiaz_ddxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,830},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>xiaz_dw.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,745},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>xiaz_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,965},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>xiaz_xzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,810},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>xiaz_zc.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,760},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>zi_bcyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,351},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>zi_congzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,564},{100,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,58}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>zi_weihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,351},{152,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,37}}</string>
                <key>sourceSize</key>
                <string>{152,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa6420d5200edd0480da0c33f25923f$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
