<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jdt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,44},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>jdt_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>jdt_jdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,28},{91,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,14}}</string>
                <key>sourceSize</key>
                <string>{91,14}</string>
            </dict>
            <key>jdt_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,28},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>loading_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{310,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,20}}</string>
                <key>sourceSize</key>
                <string>{314,20}</string>
            </dict>
            <key>tsy_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,50}}</string>
                <key>sourceSize</key>
                <string>{500,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingScene.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3c9919755414db21fd458c96c5532db$</string>
            <key>textureFileName</key>
            <string>loadingScene.png</string>
        </dict>
    </dict>
</plist>
