<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Title_tixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,900},{236,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,98}}</string>
                <key>sourceSize</key>
                <string>{236,98}</string>
            </dict>
            <key>jueseBG_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{367,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,56}}</string>
                <key>sourceSize</key>
                <string>{367,56}</string>
            </dict>
            <key>juese_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,537},{177,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,81}}</string>
                <key>sourceSize</key>
                <string>{177,81}</string>
            </dict>
            <key>juese_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,716},{176,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,83}}</string>
                <key>sourceSize</key>
                <string>{176,83}</string>
            </dict>
            <key>neiye_rankG.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,537},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>neiye_rankPT.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,625},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>neiye_rankT.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,894},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>neiye_rankY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>neiye_text_CFZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,705},{76,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,30}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>neiye_text_MRYLB.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,982},{129,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,31}}</string>
                <key>sourceSize</key>
                <string>{129,31}</string>
            </dict>
            <key>neiye_text_THB.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,625},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>neiye_text_jrtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,900},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>ning.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,982},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>phb_ban1360_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,556}}</string>
                <key>sourceSize</key>
                <string>{77,556}</string>
            </dict>
            <key>phb_tuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{533,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,522}}</string>
                <key>sourceSize</key>
                <string>{533,522}</string>
            </dict>
            <key>phb_tuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,560},{338,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,301}}</string>
                <key>sourceSize</key>
                <string>{338,301}</string>
            </dict>
            <key>phb_zijiban1360_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,900},{77,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,106}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5c081b849e532b9893d99646939084$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
