<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,135}}</string>
                <key>sourceSize</key>
                <string>{352,135}</string>
            </dict>
            <key>denglu_tanchu_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,270},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>denglu_tanchu_hd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,191},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>denglu_tanchu_hdbd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,172},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>denglu_tanchu_line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{14,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,1}}</string>
                <key>sourceSize</key>
                <string>{14,1}</string>
            </dict>
            <key>sjdl_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,139},{244,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,89}}</string>
                <key>sourceSize</key>
                <string>{244,89}</string>
            </dict>
            <key>sjdl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,222},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>sjdl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,80},{145,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{145,37}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>wxan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{244,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,89}}</string>
                <key>sourceSize</key>
                <string>{244,89}</string>
            </dict>
            <key>wxan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,119},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>wxan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,41},{145,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,37}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>ykdl_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,119},{244,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,89}}</string>
                <key>sourceSize</key>
                <string>{244,89}</string>
            </dict>
            <key>ykdl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,172},{48,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>ykdl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{145,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,37}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31cf2d830cda67276b10d4c158495d54$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
